.smart-form *, .smart-form *:after, .smart-form *:before {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
.smart-form .btn {
    box-sizing: border-box;
}
.smart-form .checkbox + .checkbox, .smart-form .radio + .radio {
    margin-top: 0;
}
.smart-form footer .btn {
    cursor: pointer;
    float: right;
    font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
}
.smart-form legend {
    padding-top: 15px;
}
.smart-form {
    color: #666666;
    margin: 0;
    outline: 0 none;
    position: relative;
}
.smart-form header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: #232323;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 14px 0;
    padding: 8px 0;
}
.smart-form fieldset {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.898);
    border: 0 none;
    display: block;
    padding: 25px 14px 5px;
    position: relative;
}
.smart-form fieldset + fieldset {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.smart-form section {
    margin-bottom: 15px;
    position: relative;
}
.smart-form footer {
    background: none repeat scroll 0 0 rgba(248, 248, 248, 0.898);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 7px 14px 15px;
}
.smart-form footer:after {
    clear: both;
    content: "";
    display: table;
}
.smart-form .label {
    color: #333333;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 6px;
    text-align: left;
}
.smart-form .label.col {
    margin: 0;
    padding-top: 7px;
}
.note, .smart-form .note {
    color: #999999;
    font-size: 11px;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;
}
.smart-form .note a {
    font-size: 13px;
}
.smart-form .button, .smart-form .checkbox, .smart-form .input, .smart-form .radio, .smart-form .select, .smart-form .textarea, .smart-form .toggle {
    display: block;
    font-weight: 400;
    position: relative;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    -moz-appearance: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #404040;
    display: block;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
    height: 32px;
    outline: 0 none;
    padding: 8px 10px;
    width: 100%;
}
.smart-form .input-file .button {
    float: none;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0 14px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.smart-form .input-file .button:hover {
    box-shadow: none;
}
.smart-form .input-file .button input {
    cursor: pointer;
    font-size: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.smart-form .select i {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 0 9px #FFFFFF;
    height: 11px;
    position: absolute;
    right: 11px;
    top: 10px;
    width: 5px;
}
.smart-form .select i:after, .smart-form .select i:before {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    right: 0;
}
.smart-form .select i:after {
    border-top: 4px solid #404040;
    bottom: 0;
}
.smart-form .select i:before {
    border-bottom: 4px solid #404040;
    top: 0;
}
.smart-form .select-multiple select {
    height: auto;
}
.smart-form .textarea textarea {
    height: auto;
    resize: none;
}
.smart-form .textarea-resizable textarea {
    resize: vertical;
}
.smart-form .textarea-expandable textarea {
    height: 31px;
}
.smart-form .textarea-expandable textarea:focus {
    height: auto;
}
.smart-form .checkbox, .smart-form .radio {
    color: #404040;
    cursor: pointer;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 4px;
    padding-left: 25px;
}
.smart-form .checkbox:last-child, .smart-form .radio:last-child {
    margin-bottom: 0;
}
.smart-form .checkbox input, .smart-form .radio input {
    left: -9999px;
    position: absolute;
}
.smart-form .checkbox i, .smart-form .radio i {
    background: none repeat scroll 0 0 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 17px;
    left: 0;
    outline: 0 none;
    position: absolute;
    top: 3px;
    width: 17px;
}
.smart-form .radio i {
    border-radius: 50%;
}
.smart-form .checkbox input + i:after, .smart-form .radio input + i:after {
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s ease 0s;
}
.smart-form .radio input + i:after {
    border-radius: 50%;
    content: "";
    height: 9px;
    left: 4px;
    top: 4px;
    width: 9px;
}
.smart-form .checkbox input + i:after {
    content: "";
    font: 400 16px/19px FontAwesome;
    height: 15px;
    left: 1px;
    text-align: center;
    top: -1px;
    width: 15px;
}
.smart-form .checkbox input:checked:hover + i:after {
    content: "";
}
.smart-form .checkbox input:checked:disabled:hover + i:after {
    content: "";
}
.smart-form .checkbox input:checked + i:after, .smart-form .radio input:checked + i:after {
    opacity: 1;
}
.smart-form .inline-group {
    margin: 0 -30px -4px 0;
}
.smart-form .inline-group:after {
    clear: both;
    content: "";
    display: table;
}
.smart-form .inline-group .checkbox, .smart-form .inline-group .radio {
    float: left;
    margin-right: 30px;
}
.smart-form .inline-group .checkbox:last-child, .smart-form .inline-group .radio:last-child {
    margin-bottom: 4px;
}
.smart-form .toggle {
    color: #404040;
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 4px;
    padding-right: 61px;
}
.smart-form .toggle:last-child {
    margin-bottom: 0;
}
.smart-form .toggle input {
    left: -9999px;
    position: absolute;
}
.smart-form .toggle i {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    content: "";
    display: block;
    height: 17px;
    position: absolute;
    right: 0;
    top: 4px;
    width: 49px;
}
.smart-form .toggle i:after {
    color: #5F5F5F;
    content: attr(data-swchoff-text);
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    left: 8px;
    line-height: 13px;
    position: absolute;
    right: 8px;
    text-align: left;
    top: 2px;
}
.smart-form .toggle i:before {
    border-radius: 50%;
    content: "";
    display: block;
    height: 9px;
    opacity: 1;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: right 0.2s ease 0s;
    width: 9px;
    z-index: 1;
}
.smart-form .toggle input:checked + i:after {
    content: attr(data-swchon-text);
    text-align: right;
}
.smart-form .toggle input:checked + i:before {
    right: 36px;
}
.smart-form .rating {
    color: #404040;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 4px;
}
.smart-form .rating:last-child {
    margin-bottom: 0;
}
.smart-form .rating input {
    left: -9999px;
    position: absolute;
}
.smart-form .rating label {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 17px;
    height: 17px;
    line-height: 17px;
    margin-top: 5px;
    padding: 0 2px;
}
.smart-form .button {
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: 300 15px/31px 'Open Sans',Helvetica,Arial,sans-serif;
    height: 31px;
    margin: 10px 0 0 5px;
    outline: 0 none;
    overflow: hidden;
    padding: 0 25px;
    text-decoration: none;
}
.smart-form .icon-append, .smart-form .icon-prepend {
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 22px;
}
.smart-form .icon-append {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 3px;
    right: 5px;
}
.smart-form .icon-prepend {
    border-right-style: solid;
    border-right-width: 1px;
    left: 5px;
    padding-right: 3px;
}
.smart-form .input .icon-prepend + input, .smart-form .textarea .icon-prepend + textarea {
    padding-left: 37px;
}
.smart-form .input .icon-append + input, .smart-form .textarea .icon-append + textarea {
    padding-right: 37px;
}
.smart-form .input .icon-prepend + .icon-append + input, .smart-form .textarea .icon-prepend + .icon-append + textarea {
    padding-left: 37px;
}
.smart-form .row {
    margin: 0 -15px;
}
.smart-form .row:after {
    clear: both;
    content: "";
    display: table;
}
.smart-form .col {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.smart-form .col-1 {
    width: 8.33%;
}
.smart-form .col-2 {
    width: 16.66%;
}
.smart-form .col-3 {
    width: 25%;
}
.smart-form .col-4 {
    width: 33.33%;
}
.smart-form .col-5 {
    width: 41.66%;
}
.smart-form .col-6 {
    width: 50%;
}
.smart-form .col-8 {
    width: 66.67%;
}
.smart-form .col-9 {
    width: 75%;
}
.smart-form .col-10 {
    width: 83.33%;
}
@media screen and (max-width: 600px) {
    .smart-form .col {
        float: none;
        width: 100%;
    }
}
.smart-form .select select {
    padding: 5px;
}
.smart-form .tooltip {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.898);
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    left: -9999px;
    line-height: 16px;
    opacity: 0;
    padding: 2px 8px 3px;
    position: absolute;
    transition: margin 0.3s ease 0s, opacity 0.3s ease 0s;
    z-index: 99999;
}
.smart-form .tooltip:after {
    content: "";
    position: absolute;
}
.smart-form .input input:focus + .tooltip, .smart-form .textarea textarea:focus + .tooltip {
    opacity: 1;
}
.smart-form .tooltip-top-right {
    bottom: 100%;
    margin-bottom: 15px;
}
.smart-form .tooltip-top-right:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0.898);
    right: 11px;
    top: 100%;
}
.smart-form .input input:focus + .tooltip-top-right, .smart-form .textarea textarea:focus + .tooltip-top-right {
    left: auto;
    margin-bottom: 5px;
    right: 0;
}
.smart-form .tooltip-top-left {
    bottom: 100%;
    margin-bottom: 15px;
}
.smart-form .tooltip-top-left:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0.898);
    left: 11px;
    top: 100%;
}
.smart-form .input input:focus + .tooltip-top-left, .smart-form .textarea textarea:focus + .tooltip-top-left {
    left: 0;
    margin-bottom: 5px;
    right: auto;
}
.smart-form .tooltip-right {
    margin-left: 15px;
    top: 4px;
    white-space: nowrap;
}
.smart-form .tooltip-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0.898);
    border-top: 4px solid rgba(0, 0, 0, 0);
    right: 100%;
    top: 6px;
}
.smart-form .input input:focus + .tooltip-right, .smart-form .textarea textarea:focus + .tooltip-right {
    left: 100%;
    margin-left: 5px;
}
.smart-form .tooltip-left {
    margin-right: 15px;
    top: 4px;
    white-space: nowrap;
}
.smart-form .tooltip-left:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0.898);
    border-top: 4px solid rgba(0, 0, 0, 0);
    left: 100%;
    top: 6px;
}
.smart-form .input input:focus + .tooltip-left, .smart-form .textarea textarea:focus + .tooltip-left {
    left: auto;
    margin-right: 5px;
    right: 100%;
}
.smart-form .tooltip-bottom-right {
    margin-top: 15px;
    top: 100%;
}
.smart-form .tooltip-bottom-right:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0.898);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    bottom: 100%;
    right: 11px;
}
.smart-form .input input:focus + .tooltip-bottom-right, .smart-form .textarea textarea:focus + .tooltip-bottom-right {
    left: auto;
    margin-top: 5px;
    right: 0;
}
.smart-form .tooltip-bottom-left {
    margin-top: 15px;
    top: 100%;
}
.smart-form .tooltip-bottom-left:after {
    border-bottom: 4px solid rgba(0, 0, 0, 0.898);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    bottom: 100%;
    left: 11px;
}
.smart-form .input input:focus + .tooltip-bottom-left, .smart-form .textarea textarea:focus + .tooltip-bottom-left {
    left: 0;
    margin-top: 5px;
    right: auto;
}
.smart-form .checkbox i, .smart-form .icon-append, .smart-form .icon-prepend, .smart-form .input input, .smart-form .radio i, .smart-form .select select, .smart-form .textarea textarea, .smart-form .toggle i {
    border-color: #BDBDBD;
    transition: border-color 0.3s ease 0s;
}
.smart-form .toggle i:before {
    background-color: #3276B1;
}
.smart-form .rating label {
    color: #CCCCCC;
    transition: color 0.3s ease 0s;
}
.smart-form .button {
    background-color: #3276B1;
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
}
.smart-form .button.button-secondary {
    background-color: #B3B3B3;
}
.smart-form .icon-append, .smart-form .icon-prepend {
    color: #A2A2A2;
}
.smart-form .checkbox:hover i, .smart-form .input:hover input, .smart-form .radio:hover i, .smart-form .select:hover select, .smart-form .textarea:hover textarea, .smart-form .toggle:hover i {
    border-color: #5D98CC;
}
.smart-form .rating input + label:hover, .smart-form .rating input + label:hover ~ label {
    color: #3276B1;
}
.smart-form .button:hover {
    opacity: 1;
}
.smart-form .checkbox:hover i, .smart-form .radio:hover i, .smart-form .toggle:hover i {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.smart-form .checkbox:active i, .smart-form .radio:active i, .smart-form .toggle:active i {
    background: none repeat scroll 0 0 #F0F0F0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.smart-form .checkbox input:focus + i, .smart-form .input input:focus, .smart-form .radio input:focus + i, .smart-form .select select:focus, .smart-form .textarea textarea:focus, .smart-form .toggle input:focus + i {
    border-color: #3276B1;
}
.smart-form .radio input + i:after {
    background-color: #3276B1;
}
.smart-form .checkbox input + i:after {
    color: #3276B1;
}
.smart-form .checkbox input:checked + i, .smart-form .radio input:checked + i, .smart-form .toggle input:checked + i {
    border-color: #3276B1;
}
.smart-form .rating input:checked ~ label {
    color: #3276B1;
}
.smart-form .checkbox.state-error i, .smart-form .radio.state-error i, .smart-form .state-error input, .smart-form .state-error select, .smart-form .state-error textarea, .smart-form .toggle.state-error i {
    background: none repeat scroll 0 0 #FFF0F0;
    border-color: #A90329;
}
.smart-form .toggle.state-error input:checked + i {
    background: none repeat scroll 0 0 #FFF0F0;
}
.smart-form .state-error + em {
    color: #D56161;
    display: block;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;
}
.smart-form .rating.state-error + em {
    margin-bottom: 4px;
    margin-top: -4px;
}
.smart-form .state-error select + i {
    background: none repeat scroll 0 0 #FFF0F0;
    box-shadow: 0 0 0 9px #FFF0F0;
}
.state-error .icon-append, .state-error .icon-prepend {
    color: #ED1C24;
}
.smart-form .checkbox.state-success i, .smart-form .radio.state-success i, .smart-form .state-success input, .smart-form .state-success select, .smart-form .state-success textarea, .smart-form .toggle.state-success i {
    background: none repeat scroll 0 0 #F0FFF0;
    border-color: #7DC27D;
}
.smart-form .toggle.state-success input:checked + i {
    background: none repeat scroll 0 0 #F0FFF0;
}
.smart-form .note-success {
    color: #6FB679;
}
.smart-form .state-success select + i {
    background: none repeat scroll 0 0 #F0FFF0;
    box-shadow: 0 0 0 9px #F0FFF0;
}
.smart-form .button.state-disabled, .smart-form .checkbox.state-disabled, .smart-form .input.state-disabled input, .smart-form .radio.state-disabled, .smart-form .select.state-disabled, .smart-form .textarea.state-disabled, .smart-form .toggle.state-disabled {
    cursor: default !important;
    opacity: 0.6 !important;
}
.smart-form .checkbox.state-disabled:hover i, .smart-form .input.state-disabled:hover input, .smart-form .radio.state-disabled:hover i, .smart-form .select.state-disabled:hover select, .smart-form .textarea.state-disabled:hover textarea, .smart-form .toggle.state-disabled:hover i {
    border-color: #E5E5E5 !important;
}
.smart-form .state-disabled.checkbox input + i:after, .smart-form .state-disabled.checkbox input:checked + i, .smart-form .state-disabled.radio input + i:after, .smart-form .state-disabled.radio input:checked + i, .smart-form .state-disabled.toggle input:checked + i {
    border-color: #E5E5E5 !important;
    color: #333333 !important;
}
.smart-form .state-disabled.radio input + i:after {
    background-color: #333333;
}
.smart-form .message {
    color: #6FB679;
    display: none;
}
.smart-form .message i {
    border: 1px solid #6FB679;
    border-radius: 50%;
    display: block;
    font-size: 30px;
    height: 81px;
    line-height: 81px;
    margin: 0 auto 20px;
    width: 81px;
}
.smart-form.submited fieldset, .smart-form.submited footer {
    display: none;
}
.smart-form.submited .message {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.898);
    display: block;
    font: 300 18px/27px 'Open Sans',Helvetica,Arial,sans-serif;
    padding: 25px 30px;
    text-align: center;
}
.smart-form .ui-widget-content .ui-spinner-input {
    border: 0 none;
    box-shadow: none !important;
    height: 29px;
    margin: 0;
}
.smart-form-modal {
    display: none;
    position: fixed;
    width: 400px;
    z-index: 1;
}
.smart-form-modal-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.698);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}
.ui-timepicker-div dl {
    text-align: left;
}
.ui-timepicker-div dl dt {
    clear: left;
    float: left;
    padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
    margin: 17px 10px 12px 40%;
}
.ui-timepicker-div td {
    font-size: 90%;
}
.ui-tpicker-grid-label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-rtl {
    direction: rtl;
}
.ui-timepicker-rtl dl {
    padding: 0 5px 0 0;
    text-align: right;
}
.ui-timepicker-rtl dl dt {
    clear: right;
    float: right;
}
.ui-timepicker-rtl dl dd {
    margin: 0 40% 10px 10px;
}
.smart-form input.input-lg {
    font-size: 17px;
    height: 44px;
    line-height: 1.33;
    padding: 10px 16px;
}
.smart-form input.input-sm {
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}
.smart-form input.input-xs {
    font-size: 11px;
    height: 24px;
    line-height: 1.5;
    padding: 2px 10px;
}
.smart-form select.input-sm {
    font-size: 12px;
    height: 30px;
    line-height: 15px;
}
.smart-form select.input-sm + i {
    height: 10px;
}
.smart-form select.input-lg {
    font-size: 17px;
    height: 44px;
    line-height: 22px;
}
.smart-form select.input-lg + i {
    height: 11px;
    top: 17px;
}