.tab_study_modal_add_l2 .modal-dialog{
    width : 400px !important;
}

.addRootCategory .modal-dialog{
    width : 400px !important;
}

.AddNewCateChild .modal-dialog{
    width : 300px;
}

.confirmDlg .modal-dialog{
    min-width : 400px;
    width : 500px;
    overflow:hidden;
}
table caption{
    color : blue;
}