<template name="manager-categories">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Quản lý danh mục</h3>
            <ul class="nav nav-tabs" id="manager-categories-tabs">
                <li class="active"><a href="#tab-study" data-toggle="tab">Ngành nghề</a></li>
                <li><a href="#tab-global" data-toggle="tab">Địa phương</a></li>
            </ul>
            <div class="tab-content">
                {{> tab_study}}
                {{> tab_global}}
            </div>
        </div>
    </div>
</template>

<template name="tab_study">
    <div id="tab-study" class="tab-pane active">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header"></h4>
                <div class="row">
                    <div class="col-md-4">
                        {{#with majors_level1}}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <th>STT</th>
                                        <th>Chuyên ngành</th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        {{#each majors}}
                                            <tr>
                                                <td>{{orderNo}}</td>
                                                <td>{{name}}</td>
                                                <td style="text-align: center;vertical-align: middle">
                                                    <button id="majors_l1_btn_Edit_{{id}}" data-modal="l1-edit" class="btn btn-warning btn-xs">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                    <button id="majors_l1_btn_Delete_{{id}}" data-modal="l1-remove" class="btn btn-danger btn-xs">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button id="majors_l1_btn_AddChild_{{id}}" data-modal="add-l2" class="btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                                    </button>
                                                    <button id="majors_l1_btn_ListChild_{{id}}" data-modal="list-l2"  class="btn btn-primary btn-xs">
                                                        <span class="glyphicon glyphicon-list-alt"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="tab_global">
    <div id="tab-global" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header">dia phuong</h4>
            </div>
        </div>
    </div>
</template>

<template name="tab_study_modal_add_l2">
    <div class="row">
        <p>
            <b>Thuộc chuyên ngành</b> : {{parentName}}
        </p>

        <form role="form">
            <div class="form-group">
                <label for="txtCategoriesName">Danh mục con :</label>
                <textarea name="" id="txtCategoriesName" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
</template>